.DS_Store
swiftray.pro.user
svgpp/bin
*.o
*.o.d
.vscode/ipch/*
.idea/*
.idea/workspace.xml
build/*
cmake-build-debug/
workspace.xml
.name
docs/html/*
docs/latex/*
vcpkg_installed/*
.vs/*
out/*
third_party/libpotrace/potrace-1.16/*
third_party/libpotrace/build-release/*
third_party/libpotrace/src/*
third_party/libpotrace/check/*
third_party/libpotrace/doc/*
third_party/libpotrace/conan*.bat
third_party/libpotrace/*.cmake
third_party/libpotrace/deactivate_conan*
third_party/libpotrace/conanbuild.conf
third_party/libpotrace/config.log
third_party/libpotrace/CMakePresets.json
third_party/libpotrace/*.tar.gz
Lib/*
DLLs/*
*.pyd
*.exe
python*.dll
out-old/*