{
    "configurations": [
        {
            "name": "Mac",
            "includePath": [
                "${workspaceFolder}/third_party",
                "${workspaceFolder}/src",
                "/Users/simon/Qt/6.7.2/macos/include",
                "/Users/simon/Qt/6.7.2/macos/include/QtCore",
                "/Users/simon/Qt/6.7.2/macos/include/QtGui",
                "/Users/simon/Qt/6.7.2/macos/include/QtWidgets",
                "/Users/simon/Qt/6.7.2/macos/include/QtSerialPort"
            ],
            "defines": [],
            "macFrameworkPath": [
                "/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Library/Frameworks"
            ],
            "intelliSenseMode": "macos-clang-x64"
        }
    ],
    "version": 4
}