name: build-cmake-macos-installer
on:
  push:
    tags:
      - "c*.*.*"
jobs:
  setup-macos-build-environment:
    runs-on: macos-12
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
      - name: Select XCode version
        uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: '13.2.1'
      #- uses: actions/setup-python@v3
      #  with:
      #    python-version: '3.9'
      #    cache: 'pip'
      - run: mkdir $RUNNER_WORKSPACE/dev/
      
      - name: Install dependencies for project
        run: |
          brew install icu4c
          brew install libxml2
      # Install Qt 5.15.2
      # NOTE: jurplel/install-qt-action@v2.14.0 hasn't supported Qt6.2.4
      - name: Install Qt 5.15.2
        run: |
          brew install p7zip
          python3 -m pip install setuptools wheel
          python3 -m pip install py7zr==0.16.1
          python3 -m pip install aqtinstall==2.1.0
          python3 -m aqt install-qt  mac desktop 5.15.2 -m debug_info -O $RUNNER_WORKSPACE/Qt
      # Build and Install Potrace library
      #- name: Restore Potrace cache
      #  uses: actions/cache@v3
      #  id: cache-potrace
      #  with:
      #    path: |
      #      /usr/local/lib/libpotrace.0.dylib
      #      /usr/local/lib/libpotrace.a
      #      /usr/local/lib/libpotrace.dylib
      #      /usr/local/lib/libpotrace.la
      #    key: potrace

      - name: Install Potrace
        #if: steps.cache-potrace.outputs.cache-hit != 'true'
        run: |
            cd $RUNNER_WORKSPACE/dev/
            curl http://potrace.sourceforge.net/download/1.16/potrace-1.16.tar.gz -o potrace-1.16.tar.gz
            tar -xvf potrace-1.16.tar.gz
            cd potrace-1.16
            ./configure --with-libpotrace
            make install
      # Build and Install OpenCV library
      #- name: Restore OpenCV cache
      #  uses: actions/cache@v3
      #  id: cache-opencv
      #  with:
      #    path: |
      #      /usr/local/include/opencv4/
      #      /usr/local/lib/libopencv_**.dylib
      #      /usr/local/bin/opencv_**
      #      /usr/local/share/licenses/opencv4
      #      /usr/local/share/opencv4
      #      /usr/local/lib/cmake/opencv4
      #      /usr/local/bin/setup_vars_opencv4.sh
      #    key: opencv
      - name: Install OpenCV
        #if: steps.cache-opencv.outputs.cache-hit != 'true'
        run: |
          brew install opencv
      
      - name: CMake generate buildsystem
        run: |
          mkdir build
          cd build
          cmake -DCMAKE_BUILD_TYPE=Debug -DCMAKE_PREFIX_PATH=$RUNNER_WORKSPACE/Qt/5.15.2/clang_64/lib/cmake -G "CodeBlocks - Unix Makefiles" ${{ github.workspace }}
      - name: Compile (Build) project
        run: |
          cd build
          cmake --build . --target Swiftray -- -j 6
      - name: Install Bundle
        run: |
          cd build
          cmake --build . --target install -- -j 6
      - name: Deploy (Copy necessary shared libraries)
        run: |
          cd build
          $RUNNER_WORKSPACE/Qt/5.15.2/clang_64/bin/macdeployqt install/debug/Swiftray.app -qmldir=${{ github.workspace }}/src/windows/qml -verbose=2
      #- run: |
      #    brew install tree
      #    cd build/install/
      #    tree .
      - name: Fix bundle dependencies (workaround for bug in macdeployqt)
        run: |
            cd build
            cp /usr/local/opt/gcc/lib/gcc/11/libgcc_s.1.1.dylib install/debug/Swiftray.app/Contents/Frameworks/
            chmod 644 install/debug/Swiftray.app/Contents/Frameworks/libgcc_s.1.1.dylib
            install_name_tool -id @executable_path/../Frameworks/libgcc_s.1.1.dylib install/debug/Swiftray.app/Contents/Frameworks/libgcc_s.1.1.dylib
            install_name_tool -change /usr/local/opt/gcc/lib/gcc/11/libgcc_s.1.1.dylib @executable_path/../Frameworks/libgcc_s.1.1.dylib install/debug/Swiftray.app/Contents/Frameworks/libgcc_s.1.dylib
            install_name_tool -add_rpath @executable_path/../Frameworks install/debug/Swiftray.app/Contents/MacOS/Swiftray
      - name: Copy libsentry to bundle
        run: |
            cd build
            cp ../third_party/sentry/build/macOS/libsentry.dylib install/debug/Swiftray.app/Contents/Frameworks/
      #- name: Print otool result
      #  run: |
      #      otool -l build/install/debug/Swiftray.app/Contents/MacOS/Swiftray
      #      otool -L build/install/debug/Swiftray.app/Contents/Frameworks/libgcc_s.1.dylib
      #      otool -L build/install/debug/Swiftray.app/Contents/Frameworks/libgcc_s.1.1.dylib

      - name: Setup Sentry CLI
        uses: mathieu-bour/setup-sentry-cli@1.2.0
        with:
          version: latest # optional if 'latest'
          token: ${{ SECRETS.SENTRY_TOKEN }} # from GitHub secrets
          organization: flux3dp
          project: swiftray
      - name: Upload debug symbol to sentry
        run: |
          cd $RUNNER_WORKSPACE/Qt/5.15.2/clang_64/lib
          sentry-cli upload-dif -o flux3dp -p swiftray *.dSYM
          cd ~
          cd build
          dsymutil Swiftray.app/Contents/MacOS/Swiftray
          sentry-cli upload-dif -o flux3dp -p Swiftray.app/Contents/MacOS/Swiftray.dSYM

      - name: Codesign executable
        env: 
          MACOS_CERTIFICATE: ${{ secrets.DEVELOPMENT_CERTIFICATE_DATA }}
          MACOS_CERTIFICATE_PWD: ${{ secrets.DEVELOPMENT_CERTIFICATE_PASSPHRASE }}
          MACOS_KEYCHAIN_PASSWORD: ${{ secrets.KEYCHAIN_PASSWORD }}
          #SIGN_IDENTITY_ID: 
        run: |
          echo $MACOS_CERTIFICATE | base64 --decode > certificate.p12
          security create-keychain -p $MACOS_KEYCHAIN_PASSWORD build.keychain
          security default-keychain -s build.keychain
          security unlock-keychain -p $MACOS_KEYCHAIN_PASSWORD build.keychain
          security import certificate.p12 -k build.keychain -P $MACOS_CERTIFICATE_PWD -T /usr/bin/codesign
          security set-key-partition-list -S apple-tool:,apple:,codesign: -s -k $MACOS_KEYCHAIN_PASSWORD build.keychain
          cd build/install/debug
          /usr/bin/codesign --force --deep --verify --verbose --timestamp --options runtime --sign "Developer ID Application: FLUX TECHNOLOGY CORP. (4Y92JWKV94)" "Swiftray.app/Contents/Resources/crashpad_handler"
          /usr/bin/codesign --force --deep --verify --verbose --timestamp --options runtime --sign "Developer ID Application: FLUX TECHNOLOGY CORP. (4Y92JWKV94)" "Swiftray.app"
      - name: Notarize Release Build
        env: 
          ASC_PROVIDER: ${{ secrets.ASC_PROVIDER }}
        uses: erwin1/xcode-notarize@main
        with:
          product-path: "build/install/debug/Swiftray.app"
          appstore-connect-username: ${{ secrets.NOTARIZATION_USERNAME }}
          appstore-connect-password: ${{ secrets.NOTARIZATION_PASSWORD }}
          asc-provider: ${{ secrets.ASC_PROVIDER }}
          verbose: true

      - name: "Staple Release Build"
        uses: devbotsxyz/xcode-staple@v1
        with:
          product-path: "build/install/debug/Swiftray.app"

      - name: Create dmg
        run: |
          brew install create-dmg
          cd build/install/debug
          create-dmg --volname "Swiftray Installer" \
            --volicon "Swiftray.app/Contents/Resources/icon.icns" \
            --window-pos 200 120 \
            --window-size 800 400 \
            --icon-size 128 \
            --icon "Swiftray.app" 200 190 \
            --hide-extension "Swiftray.app" \
            --app-drop-link 600 190 \
            "Swiftray-Installer.dmg" \
            "Swiftray.app/"

      - name: Create Github Release
        uses: softprops/action-gh-release@v1
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: build/install/debug/Swiftray-Installer.dmg
